$small: 320px
$large: 1024px
$grey: #3a3d4e
$lightgrey: #696969
$redalpha: rgba(181, 19, 18, 0.73)
$red: rgb(201, 75, 74)

.centered
  margin: auto

li
  list-style: none

a
  text-decoration: none

.h2title
  font-size: 50px
  font-weight: 600
  margin-top: 150px
  text-align: center
  margin-bottom: 50px


#navbar
  top: 0
  height: 86px
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16)
  position: fixed
  width: 100vw
  background-color: white
  text-align: center
  z-index: 1070



#header
  background-position: 50% right
  background-size: 100% auto
  padding: 0 40px 0 40px
  height: 1000px
  background-repeat: no-repeat
  @media screen and (max-width:1200px)
    min-height: 800px
    background-size: auto 800px
.btn
  color: white
  display: inline-block
  padding: 5px 31px
  font-weight: 500
  font-size: 16px
  margin: 50px auto
  background: $red


body
  font-family: "Montserrat", sans-serif
  color: $grey
  font-weight: 400
  margin: 0!important
  padding: 0!important
  overflow-x: hidden
  // max-width: 100vw


h1
  font-weight: 400

p
  font-size: 20px
  line-height: 30px
  color: $lightgrey



#mainh1
  margin-left: 2vw
  margin-top: 14vw
  background-image: url('design/xgrid.png')
  background-position: 0px 0px
  min-width: 600px
  max-width: 850px
  h1
    font-weight: 300
    margin: 5px 0 5px 0
    font-size: 64px
    line-height: 80px


#submain
  max-width: 780px
  margin-left: 2vw
  font-size: 20px
  margin-top: 60px!important
  line-height: 35px
  font-weight: 400
  max-width: 800px
  @media screen and (max-width:1200px)
    background-image: none
    background-color: rgba(255, 255, 255, 0.85)
    padding: 15px
    max-width: 730px



.msu
  position: absolute
  right: 0
  top: 150px
  z-index: -1!important

#redribbon
  box-sizing: border-box
  width: 100vw
  z-index: 2!important
  margin-top: -210px
  padding-top: 80px
  padding-bottom: 140px
  background-color: $redalpha
  h2
    margin-top: 40px
    color: white
    line-height: 0
    font-size: 40px
    font-weight: 600
  div
    max-width: 80%
    margin: auto


#profits
  margin-top: -23px
  display: flex
  justify-content: center
  div
    padding: 60px 30px 60px 30px
    text-align: center
    background-color: white
    margin-right: 17px
    width: 374px
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16)
    h3
      text-transform: uppercase
      font-size: 20px

  #mid
    margin-top: -45px
    padding-bottom: 90px

.cols
  h3
    font-size: 36px
  p
    font-size: 20px
    max-width: 565px
    margin-right: 100px
    margin-bottom: 80px
  max-width: 80%
  margin: 45px auto
  align-items: flex-end
  display: flex
  justify-content: center
  .left
    width: 40%
    img
      width: 100%

.cc
    align-items: center


.redcarpet_outer
  background: #CA4B4A
  .redcarpet
    color: white
    background-image: url('design/figures_bg.png')
    p
      color: white
      margin-right: 0
      margin-left: 100px
    h3
      margin-left: 100px



.carpet_card
  box-sizing: border-box
  width: 80%
  margin: 30px auto
  padding: 50px 65px
  .redcarpet2
    color: white
    background-image: url('design/figures_bg.png')
    .carpet_cols
      margin-top: 40px
      display: flex
      .first
        min-width: 130px
      .second
        padding: 0 30px
        .hnum
          text-decoration: underline
          font-weight: 500
          font-size: 36px
          line-height: 0.5em
        p
          margin-top: -5px
          color: white
    .carpet_cols:first-of-type
    margin-top: 0


.map_outer
  background-color: #F8F9FB
  padding: 95px 0 95px 0

.mapcard
  margin: auto
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16)
  width: 80%
  box-sizing: border-box
  display: flex
  align-items: stretch
  .first
    width: 50%
    padding: 0 40px 40px 40px
    h2
      font-size: 48px
      font-weight: 500
    ul
      li
        margin-top: 70px
        display: flex
        justify-content: flex-end
        .icon
          width: 10%
        .text
          width: 80%
          margin-left: 15px
          padding-right: 20%
          font-size: 22px
      li:first-of-type
        margin-top: 0
  .second
    width: 50%
    .iframe
      width: 100%
      height: 100%
      border: none

.edulist_outer
  margin: auto
  width: 70%
  .cols3
    display: flex
    justify-content: space-around
    align-items: center
  .first
    width: 40%
  .second
    width: 25%
    text-align: center
  .third
    width: 25%
    text-align: center

  div
    li
      padding: 20px 30px 30px 30px
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16)

.h4title
  line-height: 0.3em
  font-size: 30px
  font-weight: 600

.h3title
  font-size: 30px
  font-weight: 600
  margin-top: 100px
  text-align: center
  margin-bottom: 50px

.coltitle
  padding: 0 30px
  font-weight: 600


.redcarpet_outer3
  margin-top: 80px
  width: 100%
  background: #CA4B4A
  .redcarpet3
    padding: 100px 0 100px 0
    color: white
    background-image: url('design/figures_bg.png')
    .inner
      width: 80%
      margin: auto
      display: flex
      align-items: center
      justify-content: space-around
      .first
        width: 40%
        h3
          color: white
          font-size: 40px
          font-weight: 600
      .second
        background: #fff
        width: 40%
        padding: 30px 45px 45px 45px
        h3
          color: $red
          text-align: center
          font-size: 28px
          font-weight: 600
        input
          border: 1px solid #ddd
          padding: 15px
          font-size: 20px
          color: #333
          width: 90%
          margin-top: 10px
        input:first-of-type
          margin-top: 0
        .btnr
          color: white
          display: inline-block
          padding: 10px 31px
          font-weight: 500
          font-size: 16px
          margin-top: 30px
          background: $red
